<% if @issue.subject.include?("CS20") %>
  <hr>
  <div class="splitcontent">
    <div class="splitcontentleft">
      <div class="attribute">
        <div class="label"><strong>Email:</strong></div>
        <div class="value"><%= @issue_customer.customer.email if @issue_customer.customer %></div>
      </div>
      <div class="attribute">
        <div class="label"><strong>Name:</strong></div>
        <div class="value"><%= @issue_customer.customer.family_name if @issue_customer.customer %>
          <%= @issue_customer.customer.given_name if @issue_customer.customer %></div>
        <% if @issue_customer.customer.nil? || (@issue_customer.customer.family_name.blank? && @issue_customer.customer.given_name.blank?) %>
          <div class="value"> N/A </div>
        <% end %>
      </div>
    </div>

    <div class="splitcontentleft">
      <div class="attribute">
        <div class="label"><strong>Company:</strong></div>
        <div class="value"><%= @issue_customer.customer.company if @issue_customer.customer %></div>
        <% if @issue_customer.customer.nil? || @issue_customer.customer.company.blank? %>
          <div class="value"> N/A </div>
        <% end %>
      </div>
      <div class="attribute">
        <div class="label"><strong>Department:</strong></div>
        <div class="value"><%= @issue_customer.customer.dept if @issue_customer.customer %></div>
        <% if @issue_customer.customer.nil? || @issue_customer.customer.dept.blank? %>
          <div class="value"> N/A </div>
        <% end %>
      </div>
    </div>

    <div class="splitcontentleft">
      <div class="attribute">
        <div class="label"><strong>License Number:</strong></div>
        <% if @issue_customer.license.nil? %>
          <div class="value"> N/A </div>
        <% else %>
          <div class="value"><%= @issue_customer.license.license_num %> <%= @issue_customer.license.license_type %> <%= @issue_customer.license.show_office_or_hil %> <!-- <%= @issue_customer.license.show_hil_type_description %> --></div>
        <% end %>
      </div>
      <div class="attribute">
        <div class="label"><strong>Status:</strong></div>
        <% if @issue_customer.license.nil? || @issue_customer.license.license_num == 0 %>
          <div class="value"> N/A </div>
        <% else %>
          <% if @issue_customer.license.status %>
            <div class="value">Activated</div>
          <% else %>
            <div class="value">Deactivated</div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="contextual">
    <a onclick="$('#support-update-form').toggle(); $('#relation_issue_to_id').focus(); return false;" href="#">更新</a>
  </div>
<div id="support-update-form" style="display: none;">
  <hr>
  <div class="splitcontent">
    <div class="splitcontentleft">
    <%= form_tag(issue_supports_path(@issue), method: "PATCH") do %>
      <p><strong>顧客情報の更新</strong></p>

      <%= label :session, "メール", style: "display: block; float: left; width: 100px" %>
      <% if @issue_customer.customer.nil? %>
        <%= text_field :session, :email, value: "N/A", style: "width: 250px" %>
      <% else %>
        <%= text_field :session, :email, value: @issue_customer.customer.email, style: "width: 250px" %>
      <% end %>
      <br/>
      <%= label :session, "ライセンス番号", style: "display: block; float: left; width: 100px" %>
      <% if @issue_customer.license.nil? || @issue_customer.license.license_num == 0 %>
        <%= text_field :session, :license_num, value: "N/A", style: "width: 250px" %>
      <% else %>
        <%= text_field :session, :license_num, value: @issue_customer.license.license_num, style: "width: 250px" %>
      <% end %>
      <%= submit_tag  '更新'  %>
        <% end %>
    </div>
    <div class="splitcontentright">
      <p><strong> アンケート </strong></p>
      <div class="attribute">
      <div class="label">ステータス:</div>
          <% if !@enquete %>
            未送信
          <% else %>
            <%= @enquete.show_enquete_status %>
          <% end %>
      </div>
      <div class="attribute">
        <div class="label">送信設定:</div>
          <% if !@enquete %>
            <%= link_to "アンケートスキップ", skip_enquete_path(@issue), method: "PATCH", class: "btn" %>
          <% else %>
            <%= @enquete.show_enquete_status %>
          <% end %>
      </div>
      <div class="attribute">
        <div class="label">自動クローズメール送信設定:</div>
          <%= link_to @issue.show_auto_close_btn, change_auto_close_flag_path(@issue), method: "PATCH", class: "btn" %>
      </div>

    </div>
  </div>
    <div class="contextual">
    <a href="#" onclick="$(&quot;#support-update-form&quot;).hide();; return false;">戻る</a>
  </div>


</div>
<% end %>
