<%= stylesheet_link_tag 'table', :plugin => 'issue_customers' %>

<p><strong> CS用チケットの作成 </strong></p>

<%= form_tag(project_supports_path(@project), method: "POST") do %>
  <div class="new-ticket">
    <%= label :session, "顧客メール", class: "new-ticket-label" %>
    <% if @email %>
      <%= text_field  :session, :email, class: "new-ticket-input", value: @email %>
    <% else %>
      <%= text_field  :session, :email, class: "new-ticket-input" %>
    <% end %>
  </div>
  <div class="new-ticket">
    <%= label :session, "ライセンス番号", class: "new-ticket-label" %>
    <% if @license %>
      <%= text_field  :session, :license_num, class: "new-ticket-input", value: @license %>
    <% else %>
      <%= text_field  :session, :license_num, placeholder: "CM-XXXX", class: "new-ticket-input" %>
    <% end %>
  </div>
  <div class="new-ticket">
    <%= label :session, "問合せ内容", class: "new-ticket-label" %>
    <%= text_area  :session, :description, class: "new-ticket-input-area" %>
  </div>
  <div class="new-ticket">
    <%= label :session, "受領メール", class: "new-ticket-label" %>
    送信: <%= radio_button :session, :send_flag, '0', {} %>
    非送信 : <%= radio_button :session, :send_flag, '1', {:checked => true} %><br />
  </div>
  <div class="new-ticket">
    <%= submit_tag  '作成'  %>
  </div>
<% end %>

<br>

<br>

<a onclick="$('#support-setting').toggle(); return false;" href="#">設定</a>

<div id="support-setting", style= "display: none;">
  <table class="setting">
  	<thead>
  	<tr>
  		<th scope="cols">社名コード</th>
  		<th scope="cols">ドメイン</th>
      <th scope="cols"></th>
  	</tr>
  	</thead>
  	<tbody>
      <% @company_codes.each do |company_code| %>
    	<tr>
    		<th scope="row"><%= company_code.code %></th>
    		<td><%= company_code.domain %></td>
        <td class="button"><%= link_to "Delete", company_code_path(company_code, project_id: @project), method: :delete %></td>
    	</tr>
      <% end %>
      <tr>
        <%= form_for @company_code  do |f| %>
          <th scope="row"><%= f.text_field :code %></th>
          <td><%= f.text_field :domain, style: "width: 250px" %></td>
          <input type="hidden" name="project_id" value="<%= @project %>" id="company_code_project_id">
          <td class="button"><%= f.submit :Add  %></td>
        <% end %>
    	</tr>

  	</tbody>
  </table>


  <table class="setting">
  	<thead>
  	<tr>
  		<th scope="cols">カテゴリー</th>
  		<th scope="cols"></th>
      <th scope="cols"></th>
  	</tr>
  	</thead>
  	<tbody>
      <tr>
        <%= form_tag(category_import_path(@project), method: "POST") do %>
          <th scope="row">インポート元</th>
          <td><%= text_field  :session, :name, placeholder: "CS2016" %></td>
          <td class="button"><%= submit_tag  'Import'  %></td>
        <% end %>
    	</tr>

  	</tbody>
  </table>

  <br>

  <br>

  <a href="#" onclick="$(&quot;#support-setting&quot;).hide();; return false;">隠す</a>
</div>
