<table>
  <thead>
  <tr>
    <th>送信日</th>
    <th>#</th>
    <th>顧客名</th>
    <th>メール</th>
    <th>送信許可</th>
    <th>回収済み</th>
  </tr>
  </thead>
  <% neglect_date = Date.new(2016, 12, 31) %>
  <tbody>
    <% @enquetes.each do |enquete| %>
      <% next if enquete.issue.nil? %>
      <% if enquete.sent_date > neglect_date %>
        <td><%= enquete.sent_date %></td>
      <% else %>
        <td>送信無し</td>
      <% end %>

      <td><%= enquete.issue.subject %></td>
      <td><%= enquete.customer.family_name %> <%= enquete.customer.given_name %></td>
      <td><%= enquete.customer.email %></td>
      <td>
        <% if enquete.customer.accept_flag == true %>
          <%= link_to "拒否する", refuse_enquete_path(enquete.customer), method: :patch %>
        <% else %>
          <%= link_to "許可する", accept_enquete_path(enquete.customer), method: :patch %>
        <% end %>
      </td>
      <td>
        <% if enquete.sent_date < neglect_date %>
          送信無し
        <% elsif !enquete.recieved_flag  %>
          <%= link_to "返答あり", set_reply_path(enquete), method: :patch %>
        <% else %>
          返答済み
        <% end %>
      </td>

    </tr>
    <% end %>

  </tbody>
</table>

<%= paginate @enquetes %>
